@import 'styles/mixins';
.footer {
    @include verticalless-global-gap();
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    // z-index: 2;

    .right {
        text-align: right;
    }

    @include media-max-width($mobile-breakpoint) {
        font-size: 0.75rem;
    }
    width: 100%;
}
