@import 'styles/colors';
@import 'styles/mixins';
.dropdown {
    position: relative;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 10rem;
        max-width: 13.75rem;
        height: 1.25rem;
        border: 1px solid $secondary-stroke;
        background-color: $stroke;
        padding: 1rem;
        border-radius: 0.5rem;
        color: $black-1;

        @include media-max-width($mobile-breakpoint) {
            max-width: unset;
        }
    }
}

.chevron {
    &_up {
        transform: rotate(180deg);
        transition: rotate 1s;
    }

    &_down {
        transform: rotate(0deg);
        transition: rotate 1s;
    }
}
