@import 'styles/colors';
@import 'styles/mixins';
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 1rem;
    li:not(:first-child) {
        margin-left: 0.5rem;
    }
    &_button {
        border: 1px solid $primary;
        background-color: #fff;
        border-radius: 0.5rem;
        min-height: 2.38rem;
        min-width: 3.6rem;

        @include media-max-width($mobile-breakpoint) {
            min-height: 1.75rem;
            min-width: 1.75rem;
        }
        & > a {
            min-height: 2.38rem;
            min-width: 3.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem;
            @include media-max-width($mobile-breakpoint) {
                min-height: 1.75rem;
                min-width: 1.75rem;
            }
        }
        cursor: pointer;

        &.primary {
            background-color: $primary;
            color: #fff;
        }

        &.nav {
            background-color: $primary;
            font-weight: bold;
            color: #fff;
        }

        &.disabled {
            background-color: $stroke;
            border: 1px solid $stroke;
            color: $grey-1;
            font-weight: bold;
        }
    }
}
