@import 'styles/mixins';
.recomended_podcast{
    margin-bottom: 1rem;
    .label_container{
        padding: 1rem 12.25rem;
        @include media-max-width($mobile-breakpoint){
            padding : 1rem 5vw;
        }
    }
    .marquee{
        margin-bottom: 1rem;
    }
    .cta{
        display: flex;
        justify-content:center;
        align-items:center;
   }
}