@import 'styles/mixins';
.banner {
    background-color: #fff;
    @include global-radius();
    display: flex;
    justify-content: center;
    align-items: center;
    &_4x1 {
        content: '';
        aspect-ratio: 4/1;
    }
}
