@import 'styles/dstoken.module';
.apb {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-gap: 2rem;

    .object {
        // display : flex;
        cursor: pointer;
        max-width: 17.5rem;
        max-height: 31.25rem;
        & > img {
            width: 100%;
            height: auto;
        }

        color: $intelligence-blue;
    }
}
