@import 'styles/mixins';
.withIllu {
    display: flex;
    position: relative;

    &.row-reverse {
        flex-direction: row-reverse;
    }

    .item {
        flex: 1 1 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-child {
            justify-content: right;
        }
    }
    @include media-max-width($mobile-breakpoint) {
        flex-direction: column;
        .item:last-child {
            justify-content: flex-end;
        }

        &_illu {
            width: calc(500px / 16) rem;
            height: calc(500px / 16) ren;

            img {
                width: 100% !important;
                height: auto !important;
                max-width: 18.75rem !important;
            }
        }
    }
}
