@import 'styles/mixins';
.logout {
    font-size: 13px;
    @include media-max-width($mobile-breakpoint) {
        font-size: 16px;
    }

    @include media-max-width($s-mobile-breakpoint) {
        font-size: unset;
    }
}
