@import 'styles/dstoken.module';
@import 'styles/mixins';
.leaderboard {
    background-color: white;
    border-radius: 1.25rem;
    padding: 3.25rem;
    color: $wisdom-blue;

    .table {
        width: 100%;
        border-collapse: collapse;
        // border: 1px solid black;
        & > tbody > tr > td:first-child {
            border-right: 1px solid $stroke;
            width: 5%;
        }
    }

    .ranking {
        display: flex;
        // align-items: center;
    }
    .percentile {
        display: flex;
        align-items: center;
        @include media-max-width($mobile-breakpoint) {
            flex-direction: column;
            align-items: start;
        }
        &_bar {
            content: '';
            height: 2.25rem;
            margin-right: 1rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }
}
