@import 'styles/colors';
@import 'styles/mixins';
.object {
    // display : flex;
    cursor: pointer;
    // max-width: 13rem;
    // max-height: 17rem;

    & > img {
        min-width: 10rem;
        min-height: 10rem;
        width: 100%;
        height: auto;

        @include media-max-width($tablet-breakpoint) {
            width: 7.5rem;
        }

        @include media-max-width($mobile-breakpoint) {
            width: 5.97rem;
        }
    }

    color: $text-primary;
}
