@import 'styles/mixins';
@import 'styles/colors';

.sidebar {
    visibility: hidden;
    height: 100vh;
    position: fixed;
    width: 100vw;
    left: 0;
    z-index: -1;
    top: 100%;
    transition: all 0.3s ease-out;

    &.open {
        display: flex;
        flex-direction: column;
        visibility: visible;
        height: 100vh;
        top: 0;
    }

    .title {
        font-size: 20px;
    }
    .text {
        font-size: 16px;
    }

    &_head {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        background: $primary;
        background-image: url('/images/background_sidebar.png'); /* fallback */
        background-image: url('/images/background_sidebar.png'), $primary;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &_cover {
        background-color: #dcdcdc;
        border-radius: 50%;
        content: '';
        width: 80px;
        height: 80px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    &_container {
        flex-grow: 1;
        margin-top: -1.5rem;
        background-color: #fff;
        padding: 8vw;
        border-radius: 1.25rem 1.25rem 0 0;

        & > div:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}
