@import 'styles/mixins';
.inspibook {
    padding-left: 7.5rem;
    overflow: hidden;

    @include media-max-width($mobile-breakpoint) {
        padding: 0;
    }

    &_desc {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-max-width($mobile-breakpoint) {
            padding: 0 8vw;
        }

        .cta {
            padding: 1rem 0;
        }
        @include media-max-width($mobile-breakpoint) {
            min-height: 18.75rem;
        }
        &_dec1 {
            position: absolute;
            top: 0;
            right: 0;

            @include media-max-width($mobile-breakpoint) {
                width: 9.5rem;
                height: 9.5rem;
                right: -8vw;
            }

            @include media-max-width($tablet-breakpoint) {
                width: 10rem;
                height: 10rem;
            }
        }

        &_dec2 {
            position: absolute;
            bottom: 0;
            left: 0;
            @include media-max-width($mobile-breakpoint) {
                width: 6.5rem;
                height: 6.5rem;
                left: -8vw;
            }
        }
    }
}
