.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-gap: 2rem;
    grid-auto-rows: 1;
    grid-template-rows: 1fr;
    overflow-y: auto;

    &.small {
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    }

    &.medium {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }

    &.large {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
}
