@import 'styles/dstoken.module';
.object {
    // display : flex;
    cursor: pointer;
    // max-width: 11.25rem;
    // max-height: 18.75rem;
    & > img {
        min-width: 11.25rem;
        width: 100%;
        height: auto;
    }

    color: $intelligence-blue;
}
