@import 'styles/mixins';
@import 'styles/colors';
.statistic {
    background-color: $primary;
    min-height: 17.125rem;
    @include global-radius();
    margin-bottom: 1rem;
    color: #fff;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;

    @include media-max-width($mobile-breakpoint) {
        flex-direction: column;
    }

    &_container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        @include media-max-width($mobile-breakpoint) {
            flex-direction: column;
        }
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
