@import 'styles/colors';
@import 'styles/mixins';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black-1, 0.1);
    z-index: 999;
    min-width: 100vw;
    min-height: 100vh;

    &.modal_close {
        display: none !important;
    }

    &_illu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_title {
        text-align: center;
        padding: 0 0 1.25rem 0;
    }

    &_description {
        text-align: center;
        padding: 0 0 1.25rem 0;
    }

    &_cta {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_container {
        border-radius: 1.25rem;
        background-color: #fff;
        min-width: 31.25rem;
        min-height: 31.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1/1;
        padding: 2.5rem;

        @include media-max-width($mobile-breakpoint) {
            width: 90%;
            height: 80%;
        }
    }
}
