@import 'styles/mixins';
@import 'styles/colors';
.contents {
    content: '';
    min-height: 25rem;
    @include global-radius();
    background-color: #fff;
    padding: 2.5rem;

    .grid {
        border-radius: 8px;
        content: '';
        min-height: 18.75rem;
        background-color: #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
