@import 'styles/mixins';
.masterCourse {
    display: flex;
    align-items: center;
    @include media-max-width($mobile-breakpoint) {
        flex-direction: column;
    }
    &_card {
        padding: 1.25rem;
    }
    &_item {
        flex: 1 1 0;
    }
    &_courses {
        width: 100%;
        max-width: 31.25rem;
    }
}
