$primary: #0055b8;
$stroke: #f7f8f9;
$secondary: #ffffff;

$secondary-1: #78d3ff;
$secondary-2: #ffcda0;
$secondary-3: #ffbbbb;
$secondary-4: #e0c2ff;
$secondary-5: #ffafe4;
$secondary-6: #caffdf;
$secondary-7: #fff1dc;
$secondary-8: #ffd4d4;
$secondary-9: #f1ffda;
$secondary-10: #cbe3ff;
$subtext: #2d2a26;

// primary colors
$wisdom-blue: #001a70;
$text-primary: #002f87;
$freedom-blue: #238dc1;
$intuition-blue: #acdee6;
$inspiration-blue: #0055b8;

// secondary colors
$secondary-orange: #ffa400;
$secondary-peach: #ff8672;
$secondary-tosca: #6bcbb8;
$secondary-violet: #410099;
$secondary-yellow: #fcd672;
$secondary-cream: #ffeebd;
$secondary-red: #fd4a5c;

$black-1: #283862;
$black-2: #282828;
$grey-1: #a2abb9;
$secondary-stroke: #c4cad3;
$text-primary: $black-1;
$white: #fff;
