@import 'styles/colors';
:export {
    primary: $primary;
    stroke: $stroke;
    secondary: $secondary;
    secondary1: $secondary-1;
    secondary2: $secondary-2;
    secondary3: $secondary-3;
    secondary4: $secondary-4;
    secondary5: $secondary-5;
    secondary6: $secondary-6;
    secondary7: $secondary-7;
    secondary8: $secondary-8;
    secondary9: $secondary-9;
    secondary10: $secondary-10;
    black1: $black-1;
    grey1: $grey-1;
    inspirationBlue: $inspiration-blue;
    $white: #fff;
    secondaryPeach: $secondary-peach;
    stroke: $stroke;
    subText: $subtext;
    white: $white;
}
